@model HRMS.Models.Auth.AuthRequest

@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Auth/_AuthLayout.cshtml";
}
<section>
    <div class="container-fluid mt-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 margin-bottom-20px">
                <div id="messageDiv" class="alert alert-info alert-dismissible" role="alert" style="display: none">
                        @Html.ValidationSummary()
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <form asp-action="login" asp-controller="auth" method="POST" id="loginForm">
                    @Html.AntiForgeryToken()
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-4">
                        <p class="lead fw-bold mb-0 me-3 text-uppercase">Let's Get you Sign in</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        @Html.LabelFor(model=>model.Email, new { @class = "form-label"})
                        @Html.TextBoxFor(model=>model.Email, new { @class= "form-control", @placeholder = "Enter a valid email address", type="email", required = "required"})
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        @Html.LabelFor(model=>model.Password, new { @class = "form-label"})
                        @Html.TextBoxFor(model=>model.Password, new { @class= "form-control", @placeholder = "Enter password", type="password", required = "required"})
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-md"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                id="btnLogin">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a asp-action="register" asp-controller="auth" class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


<script>
    var isSuccess = '@ViewBag.Success';
</script>